.mainHeader {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    margin-bottom: 90px;
    nav{
        a{
            margin-left: 35px;
            font-size: 18px;
            font-weight: 400;
            &.linkActive{
                color: #764242;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
