.mainWrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}
a{
    text-decoration: none;
    color: #261f19;
    transition: color 0.5s ease-in-out;
}
a:hover{
    color: #867a7a;
    transition: color 0.5s ease-in-out;
}
body{
    color: #261f19;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}